<template>
  <div
    class="flex animate-pulse flex-col justify-between gap-6 border-l-8 border-gray-200 pt-3 pl-6 dark:border-gray-500"
  >
    <div class="flex items-center justify-center">
      <div
        class="ml-4 h-16 w-16 rounded-full bg-gray-200 dark:bg-gray-500"
      ></div>
      <div class="space-y-3 pl-8">
        <div class="h-4 w-20 rounded-full bg-gray-200 dark:bg-gray-500"></div>
        <div class="h-2 w-28 rounded-full bg-gray-200 dark:bg-gray-500"></div>
        <div class="h-2 w-36 rounded-full bg-gray-200 dark:bg-gray-500"></div>
      </div>
    </div>
    <div class="space-y-5 pl-3 pr-2">
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-1 h-2 rounded bg-gray-200 dark:bg-gray-500"></div>
        <div class="col-span-1 h-2 rounded bg-gray-200 dark:bg-gray-500"></div>
        <div class="col-span-2 h-2 rounded bg-gray-200 dark:bg-gray-500"></div>
      </div>
      <div class="h-2 rounded bg-gray-200 dark:bg-gray-500"></div>
      <div class="grid grid-cols-6 gap-4">
        <div class="col-span-2 h-2 rounded bg-gray-200 dark:bg-gray-500"></div>
        <div class="col-span-1 h-2 rounded bg-gray-200 dark:bg-gray-500"></div>
        <div class="col-span-1 h-2 rounded bg-gray-200 dark:bg-gray-500"></div>
      </div>
    </div>
    <div
      class="mx-auto mb-4 h-7 w-36 rounded-sm bg-gray-200 py-1 px-3 dark:bg-gray-500"
    ></div>
  </div>
</template>
